
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
  }
  
  main {
    display:block;
    height:175px;
  }
  
  header {
    border-bottom: 1px solid black;
  }
  
  h1 {
    font-weight: bold;
    color: #000;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    padding-top: 25px;
    border-top: 1px solid black;
  }
  
  footer a {
    float:left;
    margin:5px;
  }
  
  .pet-image {
    position: relative;
    height:250px;
  }
  
  .dashboard div {
    display:block;
  }
  
  .pet-image-container {
    position: relative;
    float:left;
    padding:10px;
  }
  
  #pet-comment {
    margin-top: 12px;
    padding: 8px 10px;
    border-radius: 6px;
    background: #eef6ff;
    color: red;
    font-weight: 600;
    display: none;
    max-width: 360px;
    box-shadow: 0 1px 0 rgba(0,0,0,0,0.4);
  }

  .dashboard {
    float:left;
    padding:20px;
  }
  
  .button-container {
    margin-top:20px;
  }
  
  .button-container button {
    width: 100px;
      margin-right: 10px;
      text-align: center;
      display: inline-block;
      float: left;
    font-size:15px;
    background-color: #1e2835;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
    color: #fafafa;
  }